@import url('https://fonts.googleapis.com/css?family=Bellefair&display=swap');

* {
    box-sizing: border-box;
}


h2,
h3 {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #8c8c8c;
    margin: 20px 1%;
    font-family: serif, "Bellefair", sans-serif;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 5px 5px 5px 5px;

}

header {
    padding: 50px;
    overflow: hidden;

}

header > #logo {
    padding: 50px;
    float: left;

}

nav {
    float: right;

}

#imagos {
    
  margin-left: 10%;

}






main {
    padding: 50px;
    overflow: hidden;
}

section {
    float: left;
    width: 70%;
    padding: 20px;
    background-color: #9F1D35;
    border-right: 2px solid whitesmoke;
}

article {
    padding: 30px 0px;
    border-bottom: 2px solid whitesmoke;

}

article:last-child {
    border-bottom: 0px;
}

aside {
    float: right;
    width: 30%;
    background-color: #9F1D35;
    padding: 20px;
    border-left: 2px solid whitesmoke;
}

aside h3 {
    background-color: #800020;
    
    color: whitesmoke;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 20px 0px 20px 0px;


}

aside a {
    color: black;
}

footer {
    padding: 20px;
    border-top: 2px solid #421;
    text-align: center;
}


img{
    
    max-width: 100%;
    height: auto;
    padding: 20px; 
    
}

/* Buttonin näkymä */
.collapsible {
    background-color: firebrick;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 20px;
    
}

/* Tausta */
.active,
.collapsible:hover {
    background-color: darkred;
}

/* Perus */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    
    background-color: #934;
}
